<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <section id="section">
        <h1>¿Te gusta programar?</h1>
        <input type="radio" name="question" value="Si" v-model="question" @click="validate_question()">Si
        <input type="radio" name="question" value="No" v-model="question" @click="validate_question()">No
        <article v-show="area1">
            <h3>¿Cuántos años llevas programando?</h3>
            <input type="text" name="years" v-model.number="years_active" @keyup="validate_years()" @keydown="validate_years()" />
        </article>
        <article v-if="area2">
            <h3>¿Qué te motiva a programar?</h3>
            <input type="text-area" name="motivations" v-model="motivations">
        </article>
        <article v-if="area3">
            <h3>Cuentanos tu experiencia programando</h3>
            <input type="text-area" name="experience" v-model="experience">
            <h3>¿Cuántos lenguajes de programación conoces? Captura uno a uno</h3>
            <input type="text" name="language" v-model="languages" @keyup.enter="add_languages()" />
            <button @click="add_languages()">Agregar Lenguaje</button>
            <ul>
                <li v-for="(language,index) in languages_prog" :key="index">{{language}}</li>
            </ul>
        </article>
        <article v-if="area0">
            <h3>Gracias por Apoyar</h3>
        </article>
        <p><button @click="results()">Resultados</button></p>
        <article v-if="results_block1">
            <p>Te gusta programar: {{question}}</p>
            <p>¿Cuántos años llevas programando?: {{years_active}}</p>
        </article>
        <article v-if="results_block2">
            <p>¿Qué te motiva a programar?: {{motivations}}</p>
        </article>
        <article v-if="results_block3">
            <p>Cuentanos tu experiencia programando: {{experience}}</p>
            <p>Los lenguajes de programación que conoces son:</p>
            <p>
                <ul>
                    <li v-for="(language,index) in languages_prog" :key="index">{{language}}</li>
                </ul>
            </p>
        </article>
    </section>
    <script src="js/vue.js"></script>
</body>

</html>